
* {
   margin: 0;
   padding: 0;
}

html {
   background-image: url(img/tile.png);
   background-position: center;
   background-repeat: repeat;
   background-size: auto;
}

body {
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
   background-image: url(img/bg.png);
   background-position: center;
   background-size: cover;
   font-family: Arial;
   box-shadow: 100px;

}

h1 {
   margin-top: 30px;
   font-family: Caveat;
   font-size: 45px;
   font-style: oblique;
}

main {
   padding-top: 30px;
   font-family: Indie Flower;
   font-size: 25px;
   color: blue
}

mark {
   background-color: transparent;
   box-shadow: crimson;
   text-transform: capitalize;
}

footer {
   margin-top: 35px;
   font-family: Indie Flower;
   color: blue


}

/* deel 2: achtergronden */


/* deel 3: lettertypes */


/* deel 4: tekstopmaak */


/* deel 5: schaduwen */
