/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #fff;
   background-image: url(C:\Users\arsen\Documents\GitHub\BWD1-ArsenElchazjiyev-2526\05.CSSSyntax\LoveLetter\img\title.png);
   background-size: 100% 100%;
}

body {
   background-image: url(img/bg.png);
   background-size: 100% 100%;
   border: 10px solid white;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;
   padding: 40px 100px;
}

h1 {
   margin-top: 30px;
}

main {
   padding-top: 30px;
}

mark {
   background-color: transparent;
}

footer {
   margin-top: 35px;
}

/* deel 2: achtergronden */


/* deel 3: lettertypes */


/* deel 4: tekstopmaak */


/* deel 5: schaduwen */
